In [3]:
# import pandas
import pandas as pd

In [5]:
start='1/1/2020'
end='1/1/2022'
pd.date_range(start='1/1/2020',end='1/1/2022')

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05', '2020-01-06', '2020-01-07', '2020-01-08',
               '2020-01-09', '2020-01-10',
               ...
               '2021-12-23', '2021-12-24', '2021-12-25', '2021-12-26',
               '2021-12-27', '2021-12-28', '2021-12-29', '2021-12-30',
               '2021-12-31', '2022-01-01'],
              dtype='datetime64[ns]', length=732, freq='D')

In [8]:
pd.date_range(start,end,freq='H')

DatetimeIndex(['2020-01-01 00:00:00', '2020-01-01 01:00:00',
               '2020-01-01 02:00:00', '2020-01-01 03:00:00',
               '2020-01-01 04:00:00', '2020-01-01 05:00:00',
               '2020-01-01 06:00:00', '2020-01-01 07:00:00',
               '2020-01-01 08:00:00', '2020-01-01 09:00:00',
               ...
               '2021-12-31 15:00:00', '2021-12-31 16:00:00',
               '2021-12-31 17:00:00', '2021-12-31 18:00:00',
               '2021-12-31 19:00:00', '2021-12-31 20:00:00',
               '2021-12-31 21:00:00', '2021-12-31 22:00:00',
               '2021-12-31 23:00:00', '2022-01-01 00:00:00'],
              dtype='datetime64[ns]', length=17545, freq='H')

In [12]:
start='1/1/2020'
end='1/1/2022'
pd.DataFrame(pd.date_range(start='1/1/2020',end='1/1/2022'),columns=['Date'])

          Date
0   2020-01-01
1   2020-01-02
2   2020-01-03
3   2020-01-04
4   2020-01-05
..         ...
727 2021-12-28
728 2021-12-29
729 2021-12-30
730 2021-12-31
731 2022-01-01

[732 rows x 1 columns]

In [38]:
start='1/1/2020'
end='1/1/2022'
date_table = pd.DataFrame(pd.date_range(start='1/1/2020',end='1/1/2022',freq='H'),columns=['Date'])
date_table['Year'] = date_table['Date'].dt.year
date_table['Month'] = date_table['Date'].dt.strftime('%b')
date_table['Time'] = date_table['Date'].dt.time
date_table['Quarter'] = date_table['Date'].dt.quarter
date_table['Day of Week'] = date_table['Date'].dt.dayofweek
date_table['DW Abb.'] = date_table['Date'].dt.strftime('%a')
date_table['AM-PM'] = date_table['Date'].dt.strftime('%p')
date_table.set_index(['Date'],inplace=True)
date_table.to_csv('Data_Table.csv')
date_table

                     Year Month      Time  Quarter  Day of Week DW Abb. AM-PM
Date
2020-01-01 00:00:00  2020   Jan  00:00:00        1            2     Wed    AM
2020-01-01 01:00:00  2020   Jan  01:00:00        1            2     Wed    AM
2020-01-01 02:00:00  2020   Jan  02:00:00        1            2     Wed    AM
2020-01-01 03:00:00  2020   Jan  03:00:00        1            2     Wed    AM
2020-01-01 04:00:00  2020   Jan  04:00:00        1            2     Wed    AM
...                   ...   ...       ...      ...          ...     ...   ...
2021-12-31 20:00:00  2021   Dec  20:00:00        4            4     Fri    PM
2021-12-31 21:00:00  2021   Dec  21:00:00        4            4     Fri    PM
2021-12-31 22:00:00  2021   Dec  22:00:00        4            4     Fri    PM
2021-12-31 23:00:00  2021   Dec  23:00:00        4            4     Fri    PM
2022-01-01 00:00:00  2022   Jan  00:00:00        1            5     Sat    AM

[17545 rows x 7 columns]

In [18]:
date_table.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 732 entries, 0 to 731
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    732 non-null    datetime64[ns]
 1   Year    732 non-null    int64
dtypes: datetime64[ns](1), int64(1)
memory usage: 11.6 KB

In [28]:
date_table['DW Abb.'] = date_table['Date'].dt.strftime('%a')
date_table

                     Date  Year  Month      Time  Quarter  Day of Week DW Abb.
0     2020-01-01 00:00:00  2020      1  00:00:00        1            2     Wed
1     2020-01-01 01:00:00  2020      1  01:00:00        1            2     Wed
2     2020-01-01 02:00:00  2020      1  02:00:00        1            2     Wed
3     2020-01-01 03:00:00  2020      1  03:00:00        1            2     Wed
4     2020-01-01 04:00:00  2020      1  04:00:00        1            2     Wed
...                   ...   ...    ...       ...      ...          ...     ...
17540 2021-12-31 20:00:00  2021     12  20:00:00        4            4     Fri
17541 2021-12-31 21:00:00  2021     12  21:00:00        4            4     Fri
17542 2021-12-31 22:00:00  2021     12  22:00:00        4            4     Fri
17543 2021-12-31 23:00:00  2021     12  23:00:00        4            4     Fri
17544 2022-01-01 00:00:00  2022      1  00:00:00        1            5     Sat

[17545 rows x 7 columns]